test/*.cmd
test/*.out
test/*.result
build/
examples/
bin/*.use
bin/*.ctl

.idea/
use.iml

lib/use.jar
lib/use-gui.jar
lib/use-runtime.jar

src/main/org/tzi/use/parser/generator/Generator.g
src/main/org/tzi/use/parser/generator/Generator.tokens
src/main/org/tzi/use/parser/generator/GeneratorLexer.java
src/main/org/tzi/use/parser/generator/GeneratorParser.java

src/main/org/tzi/use/parser/ocl/OCL.g
src/main/org/tzi/use/parser/ocl/OCL.tokens
src/main/org/tzi/use/parser/ocl/OCLLexer.java
src/main/org/tzi/use/parser/ocl/OCLParser.java

src/main/org/tzi/use/parser/shell/ShellCommand.g
src/main/org/tzi/use/parser/shell/ShellCommand.tokens
src/main/org/tzi/use/parser/shell/ShellCommandLexer.java
src/main/org/tzi/use/parser/shell/ShellCommandParser.java

src/main/org/tzi/use/parser/soil/Soil.g
src/main/org/tzi/use/parser/soil/Soil.tokens
src/main/org/tzi/use/parser/soil/SoilLexer.java
src/main/org/tzi/use/parser/soil/SoilParser.java

src/main/org/tzi/use/parser/testsuite/TestSuite.g
src/main/org/tzi/use/parser/testsuite/TestSuite.tokens
src/main/org/tzi/use/parser/testsuite/TestSuiteLexer.java
src/main/org/tzi/use/parser/testsuite/TestSuiteParser.java

src/main/org/tzi/use/parser/use/USE.g
src/main/org/tzi/use/parser/use/USE.tokens
src/main/org/tzi/use/parser/use/USELexer.java
src/main/org/tzi/use/parser/use/USEParser.java
